<!DOCTYPE html>

<html>

<head>
    <title>Add New User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <br />

    <div class="container-fluid">
        <div class="text-center">
            <h1 class="text-primary">Add New User Here</h1>
            <br />
            <p class="text-success">{{successMessage}}</p>
            <p class="text-danger">{{errorMessage}}</p>
            <br />
            <form action="/add-user" method="POST">
                <div class="text-center">
                    <label>Email:</label>
                    <input type="text" name="email">
                </div>
                <br />
                <div class="text-center">
                    <label class="text-danger">Check for Paid User:</label>
                    <input type="checkbox" name="status" value="true">
                </div>
                <br />
                <button type="submit" class="button-primary">Add User</button>
            </form>
            <br />
            <form action="/view-users" method="GET">
                <button type="submit" class="button-primary">View App Users</button>
            </form>
        </div>
    </div>

</body>

</html>