<!DOCTYPE html>

<html>

<head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <br />

    <div class="container-fluid">
        <form action="/logout" method="GET">
            <div class="text-right">
                <button type="submit" class="btn btn-secondary">Logout</button>
            </div>
        </form>
    </div>

    <br />

    <h1 class="text-center text-dark">Admin Dashboard</h1>

    <br />

    <div class="container">

        <div class="text-center">

            <div class="row">
                <div class="col">
                    <p class="text-dark">Choose this option to Add new paid user</p>
                    <form action="/add-user-page" method="GET">
                        <button type="submit" class="btn btn-secondary">Add User</button>
                    </form>
                </div>
                <div class="col">
                    <p class="text-dark">Choose this option to see all users of the app</p>
                    <form action="/view-users" method="GET">
                        <button type="submit" class="btn btn-secondary">View App Users</button>
                    </form>
                </div>
            </div>

        </div>

    </div>

</body>

</html>