<!DOCTYPE html>

<html>

<head>
    <title>Error Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <br />

    <nav class="navbar navbar-light bg-light justify-content-end">
        <form class="form-inline" action="/logout" method="GET">
            <button class="btn btn-secondary" type="submit" id="recordIt">Logout</button>
        </form>
    </nav>

    <br />

    <h1 class="text-center text-dark">Something is not right. See the error below.</h1>
    <br />
    <p class="text-center text-dark">{{message}}</p>

    <br />

    <div class="container-fluid">
        <div class="text-center">
            {{#if url}}
            <p class="text-info">
                <a href="https://airtable.com/shrptImAEmkRyH8he/tbl3GD5iv7NJfUjmi/viwmt00q6jm9gFUwR?blocks=hide"
                    target="_blank">Sample CSV File</a>
            </p>
            {{/if}}
        </div>
    </div>

    <div class="container">

        <div class="text-center">

            <div class="row">
                <div class="col">
                    <p class="text-dark">Choose this option to convert a CSV file into agent.zip</p>
                    <form action="/select-cz" method="GET">
                        <button class="btn btn-secondary" type="submit" id="recordIt">CSV to Zip Converter</button>
                    </form>
                </div>
                <div class="col">
                    <p class="text-dark">Choose this option to convert an agent.zip into CSV file.</p>
                    <form action="/select-zc" method="GET">
                        {{#if status}}
                        <button class="btn btn-secondary" type="submit" id="recordIt">Zip to CSV Converter</button>
                        {{else}}
                        <p class="text-dark">{{unpaidMessage}}</p>
                        <button class="btn btn-secondary" type="submit" id="recordIt" disabled>Zip to CSV Converter</button>
                        {{/if}}
                    </form>
                </div>
            </div>

        </div>

    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-76380861-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-76380861-3');
    </script>

</body>

</html>