<!DOCTYPE html>

<html>

<head>
    <title>View App Users</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <br />

    <div class="container-fluid">
        <div class="text-center">
            <h1 class="text-primary">App Users Email</h1>
            <br />
            <form action="/add-user-page" method="GET">
                <button type="submit">Add User</button>
            </form>
        </div>

        <h2 class="text-info">Following users have visited our app</h2>
        <p class="text-info">{{message}}</p>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Email Address</th>
                    <th>Login Count</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{@index}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.count}}</td>
                </tr>
                {{/each}}

            </tbody>
        </table>

    </div>

</body>

</html>