<nav class="navbar navbar-light bg-light justify-content-end">
    <form class="form-inline" action="/again" method="GET">
        <button class="btn btn-secondary" type="submit" id="recordIt">Home</button>
    </form>
    &nbsp;&nbsp;
    <form class="form-inline" action="/logout" method="GET">
        <button class="btn btn-secondary" type="submit" id="recordIt">Logout</button>
    </form>
</nav>