<!DOCTYPE html>

<html>

<head>
    <title>Create Dialogflow agent ZIP file from CSV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <br />

    <div class="container-fluid">
        <div class="text-center">
            <h1 class="text-primary">Please Login</h1>
            <br />
            <p class="text-info">Use your <mark class="text-primary">Google Account</mark> to Login.</p>
        </div>

        <div class="text-center">
            <form action="/login" method="POST">
                <button type="submit" class="btn-primary">Login with Google</button>
            </form>
        </div>
    </div>

</body>

</html>