<!DOCTYPE html>

<html>

<head>
    <title>Upload CSV file</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <br />

    <div class="container-fluid">
        <div class="text-center">
            <h1 class="text-primary">Upload your CSV file</h1>
            <br />
            {{#if message}}
            <p class="text-danger">{{ message }}</p>
            {{/if}}
            <form action="/upload" enctype="multipart/form-data" method="POST">
                <div class="text-center">
                    <label>Language:</label>
                    <select name="language">
                        <option value="zh-HK">Chinese - Cantonese (zh-HK)</option>
                        <option value="zh-CN">Chinese - Simplified (zh-CN)</option>
                        <option value="zh-TW">Chinese - Traditional (zh-TW)</option>
                        <option value="da">Danish (da)</option>
                        <option value="nl">Dutch (nl)</option>
                        <option value="en" selected>English (en)</option>
                        <option value="en-AU">English - Australia (en-AU)</option>
                        <option value="en-CA">English - Canada (en-CA)</option>
                        <option value="en-GB">English - Great Britain (en-GB)</option>
                        <option value="en-IN">English - India (en-IN)</option>
                        <option value="en-US">English - US (en-US)</option>
                        <option value="fr">French (fr)</option>
                        <option value="fr-CA">French - Canada (fr-CA)</option>
                        <option value="fr-FR">French - France (fr-FR)</option>
                        <option value="de">German (de)</option>
                        <option value="hi">Hindi (hi)</option>
                        <option value="id">Indonesian (id)</option>
                        <option value="it">Italian (it)</option>
                        <option value="ja">Japanese (ja)</option>
                        <option value="ko">Korean (ko)</option>
                        <option value="no">Norwegian (no)</option>
                        <option value="pl">Polish (pl)</option>
                        <option value="pt-BR">Portuguese - Brazil (pt-BR)</option>
                        <option value="pt">Portuguese - Portugal (pt)</option>
                        <option value="ru">Russian (ru)</option>
                        <option value="es">Spanish (es)</option>
                        <option value="es-419">Spanish - Latin America (es-419)</option>
                        <option value="es-ES">Spanish - Spain (es-ES)</option>
                        <option value="sv">Swedish	(sv)</option>
                        <option value="th">Thai (th)</option>
                        <option value="tr">Turkish (tr)</option>
                        <option value="uk">Ukranian (uk)</option>
                    </select>
                </div>
                <br />
                <input type="file" name="upload">
                {{#if flag}}
                <button class="btn btn-disabled" disabled>Upload</button>
                {{else}}
                <button type="submit" class="button-primary">Upload</button>
                {{/if}}
            </form>
            <br />
            <form action="/logout" method="GET">
                <button type="submit" class="btn btn-warning">Logout</button>
            </form>
        </div>
    </div>

</body>

</html>