<!DOCTYPE html>

<html>

<head>
    <title>Upload CSV file</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <br />

    <div class="container-fluid">
        <div class="text-center">
            <h1 class="text-primary">Upload your CSV file</h1>
            <br />
            <form action="/upload" enctype="multipart/form-data" method="POST">
                <div class="text-center">
                    <label>Language:</label>
                    <select name="language">
                        <option value="en">English</option>
                        <option value="da">Danish</option>
                        <option value="nl">Dutch</option>
                        <option value="en-AU">English - Australia</option>
                        <option value="en-CA">English - Canada</option>
                        <option value="en-GB">English - Great Britain</option>
                        <option value="en-IN">English - India</option>
                        <option value="en-US">English - US</option>
                        <option value="fr">French</option>
                        <option value="fr-CA">French - Canada</option>
                        <option value="fr-FR">French - France</option>
                    </select>
                </div>
                <br />
                <input type="file" name="upload">
                <button type="submit" class="button-primary">Upload</button>
            </form>
        </div>
    </div>

</body>

</html>